HELM_API_URL=https://helm.mladipirati.si

# Database
DATABASE_URL=postgres://postgres:password_here@localhost:5433/quartermaster

# Next-Auth
AUTH_SECRET=long_random_secret
AUTH_URL=https://quartermaster.mladipirati.si

# Keycloak Options
KEYCLOAK_REALM=mladipirati
KEYCLOAK_CLIENT_ID=quartermaster
KEYCLOAK_CLIENT_SECRET=client_secret
KEYCLOAK_ISSUER=https://auth.piratskastranka.si/auth/realms/mladipirati
KEYCLOAK_DEFAULT_CLIENT_ROLE=user
KEYCLOAK_ADMIN=https://auth.piratskastranka.si/auth/admin/realms/mladipirati

# Docker Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password_here
POSTGRES_DB=quartermaster

# Captcha
MP_TURNSTILE_SECRET_KEY=0x4AA....
MP_TURNSTILE_EXPECTED_HOSTNAME=mladipirati.si

# S3
S3_ACCESS_KEY_ID=access_key_id
S3_SECRET_ACCESS_KEY=secret_key
S3_REGION=garage
S3_ENDPOINT=https://s3.mladipirati.si
S3_BUCKET=quartermaster